{% extends "base.html" %}
{% block title %}{{ 'Forum' }}{% endblock %}

{% block content %}

<style>
    .scrollable-container {
        max-height: calc(100vh - 150px); 
        overflow-y: auto;
        margin-bottom: 100px; 
        padding-right: 15px; 
        padding-bottom: 50px; 
    }
    .post {
        background-color: #add8e6;
        border: 2px solid #0056b3;
        border-radius: 10px;
        margin-bottom: 15px;
        padding: 10px;
        word-wrap: break-word; 
    }
    .post.personal {
        background-color: #d0efff;
    }
    .input-group {
        position: fixed;
        bottom: 20px;
        width: 100%;
        max-width: 800px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        background-color: #f5f5f5;
        border-radius: 25px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        padding: 5px;
    }
    .form-control {
        background-color: #f5f5f5;
        color: #333;
        border: none;
        border-radius: 25px 0 0 25px;
        padding: 10px 15px;
        flex-grow: 1;
        margin-right: 1px;
    }
    .form-control:focus {
        background-color: #f5f5f5;
        outline: none;
        box-shadow: none;
    }
    .send-button {
        border: 2px solid #0056b3;
        padding: 10px 20px;
        border-radius: 0 25px 25px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: #add8e6;
        color: #0056b3;
    }
    .send-button:hover {
        background-color: #d0efff;
    }
    .send-button:focus {
        outline: none;
    }
    .first_name {
        color: #0056b3;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Forum</h2>

            <div class="scrollable-container">
                {% for post in posts %}
                    <div class="post {% if post.user_id == current_user.id %}personal{% endif %}">
                        <p><strong class="first_name">{{ post.user.first_name }}: </strong> {{ post.data }}</p>
                        <small class="text-muted">{{ post.date.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                    </div>
                {% endfor %}
            </div>

            <form method="POST">
                <div class="input-group">
                    <input 
                        type="text" 
                        name="post" 
                        id="answer" 
                        class="form-control" 
                        placeholder="{{ language[10] }}">
                    <div class="input-group-append">
                        <button 
                            type="submit" 
                            class="send-button">
                            <strong>{{ language[11] }}</strong>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
